* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.tribute-title {
  text-align: center;
  margin: 90px 0;
  background-color: #bbb6b4;
  width: 100%;
  height: 150px;
}
.tribute-title h1 {
  padding-top: 35px;
  font-size: 35px;
}

.tribute-title p {
  padding-top: 10px;
  font-size: 18px;
}

.image-tribute {
  text-align: center;
  margin: 30px;
  padding: 20px 0;
}

.image-tribute img {
  width: 500px;
}

.image-tribute p {
  padding-top: 15px;
  font-size: 17px;
}

.career-tribute {
  margin: 30px;
  background-color: #bbb6b4;
  text-align: center;
}

.club {
  margin: 20px 0;
  padding: 20px 0;
}

.list-club {
  padding: 10px;
}

.list-club h4 {
  font-size: 20px;
}

.list-club p {
  padding: 6px 0;
  font-weight: bold;
}

.list h4 {
  padding: 10px;
  margin: 5px;
}

.international {
  padding: 0 17px;
  margin: 0 15px;
}

h3 {
  text-align: center;
  margin: 35px;
}
